body {
	
}

.container {
	height: 100%;
  	width: 100%;
  	display: flex;
  	position: fixed;
  	align-items: center;
  	justify-content: center;
	font-family: 'PT Sans', sans-serif;

}

p {
	padding-top: 20px;
	font-size: 1.2em;
}

