<!doctype html> 

<html>

<head>
	
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono: 400 , 700" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></link>
	<link rel="stylesheet" href = "client.css"> </link>
	 
</head>

<body>
	<!-- component template -->
	<script type="text/x-template" id="grid-template">
	  <table>
	    <thead>
	      <tr>
	        <th v-for="key in columns"
	          @click="sortBy(key)"
	          :class="{ active: sortKey == key }">
	          {{ key | capitalize }}
	          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
	          </span>
	        </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr v-for="entry in filteredData" :class="{ invalid: entry['statusCode'] == 2, valid: entry['statusCode'] == 1}" >
	        <td v-for="key in columns">
	          {{entry[key]}}
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</script>

	<div class = "container"> 
 
 		<!-- Displays Merkle Tree Images (from 'images' folder) -->
 		<div id="demoleft"> 
		 <img id = "merkle" src = "images/01.jpg"></img>
		</div>

		<!-- Displays data table from 'db.json' -->
		<div id="demo">

			<!-- Search bar to filter through entries -->
			<div class="searchBar">
	 		    <input id = "search" name="query" v-model="searchQuery" placeholder="Filter entries using keywords"/>
		  	</div>

		  	<!-- Data display using vue.js -->
		  	<demo-grid
		    :data="gridData"
		    :columns="gridColumns"
		    :filter-key="searchQuery">
		 	</demo-grid>

		</div>
	</div>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="/socket.io/socket.io.js"></script> 
<script type="text/javascript" src="db.json"></script>
<script src="client.js"></script>


</html>